
<a href="{% url 'login' %}">UserLogin</a>
<form action="{% url 'user' %}" method="post">
{% csrf_token %}
<table align="center" style="border: 2px solid green">
    <tr>

        <td>
{{ ucf.as_p }}

        </td>
    </tr>

        <tr>

        <td align="center">
            <button type="submit" class="btn-sucess">sign Up</button>

        </td>
    </tr>
    {% for x in messages%}
    <tr>
        <td bgcolor="green">

            {{ x }}

        </td>
    </tr>
    {% endfor %}
</table>
</form>